// $primary: #218a43;
// $secondary: #c8afc3;
// #b6c7cb
@use "./variables.scss" as *;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": #1ce1ac,
  "info": #ff7d50,
  "warning": $warning,
  "danger": #ff007f,
  "light": #effce8,
  "dark": #001738,
);
$navbar-dark-color: $light;
$navbar-dark-hover-color: $secondary;
$paragraph-margin-bottom: 0rem;

@import "/node_modules/bootstrap/scss/bootstrap.scss";
